{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
  <!-- Navbar -->
  <div class="navbar">
    <a href="{% url 'signin' %}">Sign In</a>
    <a href="{% url 'chat' %}">Chat</a>
  </div>

  <!-- Sign Up Form -->
  <div class="auth-container">
    <div class="auth-box">
      <h2>Sign Up</h2>
      <form method="POST" action="">
        {% csrf_token %}
        
        <!-- If using Django form (recommended) -->
        {{ form.non_field_errors }}
        <div>
          <p>Name must contains only alphabet letters and spaces. Numbers are not allowed<p>
          <div style="color:red; padding:0; margin:0;">
            {% for error in form.full_name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>

            {{ form.full_name }}
        </div>
        <div>
          <p> Please enter proper Email </p>
          <div style="color:red; padding:0; margin:0;">
            {% for error in form.email.errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
            {{ form.email }}
          </div>
          <div>
            <p>Password must be between 8 and 15 characters long</p>
            <p>Password must contain at least one special character [!@#$%^&*(),.?\":{}|<>]</p>
            <div style="color:red; padding:0; margin:0;">
              {% for error in form.password.errors %}
              <p>{{ error }}</p>
              {% endfor %}
            </div>
                {{ form.password }}
          </div>

        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</body>
</html>
